.menu {
    font-size: 20px;
}

#my-info {
    background-color: rgb(242, 172, 240);
}

#mainbar {
    background-color: rgb(242, 172, 240); 
}


#hello {
    font-size: 35px;
}

h5 {
    font-size: 20px;
    font-weight: bold;
}

#body {
    background-origin: initial;
    background-color:rgb(242, 172, 240);
    background-image: url("../Assets/flower.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
}

#wrapper {
    padding-bottom: 700px;
    padding-right: 10px;
    padding-left: 10px;
}

#contact {
    display: flex;
    
}


